.label-signup-container {
    display: flex;
    align-items: center;
}

.strong {
    cursor: pointer; 
    padding-left: 110px;
    padding-top: -10px;
}

.label-signin {
    font-size: 16px;
    color:#202833;
    font-weight: 550;
    padding-right: 10px;
    margin-right: -120px;
}

.label-register {
    font-size: 19px;
    font-weight: 600;
    color: #202833;
    margin-right: 330px;
    white-space: nowrap;
}
.label-register-problem {
    font-size: 19px;
    font-weight: 600;
    color: #202833;
    margin-right: 210px;
    white-space: nowrap;
}